@using BoardGamesEShop.Client.Dtos

@if (!String.IsNullOrWhiteSpace(ValidationErrors))
{
    <div class="alert alert-danger">@ValidationErrors</div>
}
<EditForm Model="loginInfo" OnSubmit="Validate" FormName="LoginTemplateForm">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <h5>User Name: </h5>
    <InputText id="userName" @bind-Value="loginInfo.Name"></InputText><br/>
    <h5>Password: </h5>
    <InputText id="password" @bind-Value="loginInfo.Password" type="password"></InputText><br/><br/>
    <button type="submit">@ButtonText</button>
</EditForm>


@code {

    private AccountDto loginInfo = new();

    [Parameter]
    public string ButtonText { get; set; } = "Log In";

    [Parameter]
    public string ValidationErrors { get; set; } = "";

    [Parameter]
    public EventCallback<AccountDto> OnSubmitCallback { get; set; }

    private async Task Validate(EditContext editContext)
    {
        await OnSubmitCallback.InvokeAsync(loginInfo);
    }
}
