@using BoardGamesEShop.Client.DbContexts
@using BoardGamesEShop.Client.Navigations
@using BoardGamesEShop.Client.Services
@using BoardGamesEShop.Client.DbContexts.Abstractions
@using BoardGamesEShop.Client.Templates
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.EntityFrameworkCore

@inject Cart cart
@inject DbContextManager<IAccountContext> AccountContextFactory
@inject DbContextManager<IProductContext> ProductContextFactory

@attribute [Route(Paths.Backlash + Paths.Home)]


<PageTitle>Home</PageTitle>

<h1>Search and order board games</h1>

<input type="text" name="searchBar"/>

<ProductList Products="ProductContextFactory.Select(db => db.Products.Include(p => p.Price.Currency)).Where(p => !p.IsDiscontinued).ToList()" />

@code {

}
